.calculator {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 400px;
}

.calculator__output {
  flex-basis: 100%;
  background-color: rgb(160, 157, 157);
  font-size: large;
}

.calculator__input {
  flex-basis: calc(100% / 3);
  background-color: greenyellow;
  font-size: large;
  border: 5px dotted rgb(160, 157, 157);
}
